<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>

    <div class="container">  <!-- Wrapper for form -->
        <h2 class="word">Choose the language</h2>
        
        <form action="{{ url_for('language_learning') }}" method="post">

            <input class="textbox" type="text" name="primary_language" placeholder="Enter your language" required>
            <input class="textbox" type="text" name="cambridge_level" placeholder="Enter the level" required>
            <input class="textbox" type="text" name="secondary_language" placeholder="Enter the language you learn" required>
            <input class="textbox" type="text" name="dialogue_length" placeholder="Enter the number of how many sentences do you want" required>
            
            <button class="btn" type="submit">Submit</button>
        </form>

    </div>

</body>
</html>